* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.r-app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.assets {
    display: none;
}

.controls {
    width: 380px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
    right: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: .3rem;
}

.controls div {
    background-color: aqua;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    display: block;
    width: 120px;
    height: 120px;
}

.controls img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

@media screen and (max-width:600px) {
    .controls {
        width: 200px;
        grid-template-columns: 1fr 1fr;
    }

    .controls div {
        width: 80px;
        height: 80px;
    }

    .controls img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width:300px) {
    .controls {
        width: 100px;
        grid-template-columns: 1fr;
    }

    .controls div {
        width: 80px;
        height: 80px;
    }

    .controls img {
        width: 50px;
        height: 50px;
    }
}